*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 80%;
    margin: auto;
}

nav{
    height: 80px;
    width: 100%;
    display: flex;
}

.right_nav, .left_nav{
    display: flex;
    align-items: center;
}
.left_nav{
    flex-grow: 2;
}
.left_nav a{
    font-weight: 500;
}

.logo{
    height: 80px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: lightgrey;
    padding: 0 20px;
}

.c_black{
    color: black;
}
.bakcground_purple{
    color: white;
    background-color: rgb(221, 59, 173);
    border-radius: 15px;
    padding: 3px 10px;
}
.menu_tendina{
    display: none;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    box-shadow: 0 5px 5px lightgrey;
    position: absolute; 
}